/* Developed for Grand Way - Adjuntas */
/* As part of ADMI-3100 at UPRP */
/* By: José I. Hernández Carrasco */
/* hernandez.jose1639@gmail.com */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: rgb(249, 251, 253);
    font-family: Arial;
}

/* HEADER */
header {
    background-color: rgb(227, 28, 63);
    color: rgb(249, 251, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    max-width: 100px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 60px;
}

nav a {
    font-size: 24px;
    font-family: Arial;
    text-decoration: none;
    color: rgb(249, 251, 253);
}


/* MAIN */
/* Home */
main {
    padding: 20px;
}

.hero {
    background-image: url('Images/city-2939919_1920.jpg');
    background-size: cover;
    color: black;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 15px;
}

.cta-button {
    display: inline-block;
    background-color: rgb(227, 28, 63);
    color: rgb(249, 251, 253);
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: gray;
}

#offers {
    text-align: center;
    font-size: 36;
    padding-top: 20px;
}
.featured-products {
    display: flex;
    justify-content: center;
}

.product-column {
    flex: 1;
    padding: 20px;
}

.product {
    text-align: center;
}

.product img {
    max-width: 400px;
    height: auto;
}

.product h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}


/* Shopper */
.pdf-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(249, 251, 253);
    box-shadow: 0 0 10px rgb(227, 28, 63);
}

#shop {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
}

/* Inventory */
.shopping-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.price-card {
    color: rgb(227, 28, 63);
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#search-button {
    padding: 5px 10px;
    background-color: rgb(227, 28, 63);
    color: rgb(249, 251, 253);
    border: none;
    cursor: pointer;
}

#search-button:hover {
    background-color: gray; /* Customize the hover color as needed */
}

/* Contact Us */
.contact-info {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.contact-info h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 18px;
    margin: 5px 0;
}


/* FOOTER */
footer {
    background-color: rgb(227, 28, 63);
}

.foot-top {
    color: rgb(249, 251, 253);
    font-size: 16px;
    font-family: Arial;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.foot-top a{
    color: rgb(249, 251, 253);
    text-decoration: none;
}
  
.foot-top a:hover{
    color: gray;
}

.foot-2 {
    color: rgb(249, 251, 253);
    font-size: 16px;
    font-family: Arial;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.social{
    display: inline;
}
  
.fab{  
    color: rgb(249, 251, 253);
    font-size: 40px;
    display: inline;  
    margin: 0 20px;
    padding: 10px; 
}